@import "mixin/mixin"; 
.forms-wrapper {padding-top: 3em;}
.glyphicon-menu-hamburger{color: white;}     
.stage-nav-bar {}
.btn-second-line-step .btn {margin-bottom: 8px;margin-right: 5px} 
.forms--h1 {text-align: center;margin-bottom: 20px;}
.forms--vizit0--stages-menu {}
.forms--vizit--stage-wrapper {margin-top: 20px}
.distance {height: 50px;}
.input_margin_bottom {margin-bottom: 20px}
.row__margin-bottom {margin-bottom: 20px;}



// Заголовки
.form-groups__h1 {font-size: 1.925em;font-weight: bold;text-align: center;padding: 30px 0 0px 0; margin-bottom: 30px;}
.form-groups__h2,legend {font-size: 1.325em;font-weight: bold;text-align: center;padding: 30px 0 0px 0; margin-bottom: 20px;}
.form-groups__name{font-weight: bold;margin-top: 10px;}


//Костыли
.input-name-inline,.help-block-inline {display: inline-block;margin: 0; margin-right: 20px; }
.input-name-inline {font-weight: bold;}
.form-group__margin-b-next-radio {margin-bottom: 0;}
div.form-inline {margin-bottom: 20px;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {margin-left: 0px;}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {margin-right: 10px}
textarea {margin-top: 10px}
label {margin-bottom: 10px} 
@media screen and (max-width: 1200px) and (min-width:768px) {.label__horiz-vertical-type-combinate {padding-top: 0 !important;} }
.form__top-distance {margin-top: 20px;}
.block_radio_checkbox_2side_fix {margin: 0 10px; }

//Переопределения bootstrap
input[type="radio"]:after, .radio input[type="radio"]:after, .radio-inline input[type="radio"]:after,
input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before
{top: -8px;margin-left: 5px}
input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {margin-left: 5px}
input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {margin-left: 5px}
select {margin-bottom: 10px;}



// Кнопки
.btn__width-size__1 {min-width: 250px;} 
.btn__distance {margin: 20px auto;}
.btn__distance--type2 {margin-bottom: 20px;}

/*Pseudo Table*/
.table-pseudo {width: 100%;max-width: 100%;margin-bottom: 20px;}
.table-pseudo__hover .table-pseudo__row:hover {background: #f1f1f1 !important;  }
.table-pseudo__striped .table-pseudo__row:nth-of-type(odd):not(:first-child) { background-color: #f9f9f9; }
.table-pseudo__row:not(:nth-child(1)) { border-top:1px solid #ddd;}
.table-pseudo__row-header {padding: 8px;font-weight: bold;}
.table-pseudo__row:not(:nth-child(1)) {padding: 8px;}
.table-pseudo__row-header_4col {text-align: center;}

.label__checkbox__pseudo_table {margin-top: 7px;position: absolute;margin-left: -10px;}
.table-pseudo__1col_content-wrapper p { margin-top: 10px;}
.table-pseudo__checkbox-col_content-wrapper {text-align: center;}
.table-pseudo__input-col_content-wrapper input {margin-top: 2px;}
.leikocitar-formula .table-pseudo__1col_content-wrapper p {margin-left: 30px;}
/*/Pseudo Table*/